/*Arial*/
/* font-family: "ArialRegular"; */
@font-face {
    font-family: "ArialRegular";
    src: url("../fonts/Arial/ArialRegular/ArialRegular.eot");
    src: url("../fonts/Arial/ArialRegular/ArialRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Arial/ArialRegular/ArialRegular.woff") format("woff"),
    url("../fonts/Arial/ArialRegular/ArialRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "ArialBold"; */
@font-face {
    font-family: "ArialBold";
    src: url("../fonts/Arial/ArialBold/ArialBold.eot");
    src: url("../fonts/Arial/ArialBold/ArialBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Arial/ArialBold/ArialBold.woff") format("woff"),
    url("../fonts/Arial/ArialBold/ArialBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "ArialItalic"; */
@font-face {
    font-family: "ArialItalic";
    src: url("../fonts/Arial/ArialItalic/ArialItalic.eot");
    src: url("../fonts/Arial/ArialItalic/ArialItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Arial/ArialItalic/ArialItalic.woff") format("woff"),
    url("../fonts/Arial/ArialItalic/ArialItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "ArialBlack"; */
@font-face {
    font-family: "ArialBlack";
    src: url("../fonts/Arial/ArialBlack/ArialBlack.eot");
    src: url("../fonts/Arial/ArialBlack/ArialBlack.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Arial/ArialBlack/ArialBlack.woff") format("woff"),
    url("../fonts/Arial/ArialBlack/ArialBlack.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "ArialBoldItalic"; */
@font-face {
    font-family: "ArialBoldItalic";
    src: url("../fonts/Arial/ArialBoldItalic/ArialBoldItalic.eot");
    src: url("../fonts/Arial/ArialBoldItalic/ArialBoldItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Arial/ArialBoldItalic/ArialBoldItalic.woff") format("woff"),
    url("../fonts/Arial/ArialBoldItalic/ArialBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}


/*ArialNarrow*/
/* font-family: "ArialNarrowRegular"; */
@font-face {
    font-family: "ArialNarrowRegular";
    src: url("../fonts/ArialNarrow/ArialNarrowRegular/ArialNarrowRegular.eot");
    src: url("../fonts/ArialNarrow/ArialNarrowRegular/ArialNarrowRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/ArialNarrow/ArialNarrowRegular/ArialNarrowRegular.woff") format("woff"),
    url("../fonts/ArialNarrow/ArialNarrowRegular/ArialNarrowRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "ArialNarrowBold"; */
@font-face {
    font-family: "ArialNarrowBold";
    src: url("../fonts/ArialNarrow/ArialNarrowBold/ArialNarrowBold.eot");
    src: url("../fonts/ArialNarrow/ArialNarrowBold/ArialNarrowBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/ArialNarrow/ArialNarrowBold/ArialNarrowBold.woff") format("woff"),
    url("../fonts/ArialNarrow/ArialNarrowBold/ArialNarrowBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "ArialNarrowItalic"; */
@font-face {
    font-family: "ArialNarrowItalic";
    src: url("../fonts/ArialNarrow/ArialNarrowItalic/ArialNarrowItalic.eot");
    src: url("../fonts/ArialNarrow/ArialNarrowItalic/ArialNarrowItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/ArialNarrow/ArialNarrowItalic/ArialNarrowItalic.woff") format("woff"),
    url("../fonts/ArialNarrow/ArialNarrowItalic/ArialNarrowItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "ArialNarrowBoldItalic"; */
@font-face {
    font-family: "ArialNarrowBoldItalic";
    src: url("../fonts/ArialNarrow/ArialNarrowBoldItalic/ArialNarrowBoldItalic.eot");
    src: url("../fonts/ArialNarrow/ArialNarrowBoldItalic/ArialNarrowBoldItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/ArialNarrow/ArialNarrowBoldItalic/ArialNarrowBoldItalic.woff") format("woff"),
    url("../fonts/ArialNarrow/ArialNarrowBoldItalic/ArialNarrowBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

